.col-1 {
  width: 7%;
}
.col-2 {
  width: 7%;
}
.col-3 {
  width: 7%;
}
.col-4 {
  width: 7%;
}
.col-5 {
  width: 23%;
}
.col-6 {
  width: 7%;
}
.col-7 {
  width: 7%;
}
.col-8 {
  width: 7%;
}
.col-9 {
  width: 7%;
}
.col-10 {
  width: 7%;
}
.col-11 {
  width: 7%;
}
.col-12 {
  width: 7%;
}