.col-1 {
  width: 10%;
}
.col-2 {
  width: 27%;
}
.col-3 {
  width: 9%;
}
.col-4 {
  width: 9%;
}
.col-5 {
  width: 9%;
}
.col-6 {
  width: 9%;
}
.col-7 {
  width: 9%;
}
.col-8 {
  width: 9%;
}
.col-9 {
  width: 9%;
}