.col-1 {
  width: 6%;
}
.col-2 {
  width: 8%; // 12
}
.col-3 {
  width: 7%; // 17
}
.col-4 {
  width: 17%; // 27
}
.col-5 {
  width: 6%; // 33
} 
.col-6 {
  width: 6%; // 39
}
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14 {
  width: 6%;
}
.col-15 {
  width: 12%;
}
.table {
  min-width: 1500px;
}
