.col-0 {
  width: 4%;
}
.col-1 {
  width: 6%;
}
.col-2 {
  width: 26%;
}
.col-3 {
  width: 12%;
}
.col-4 {
  width: 16%;
}
.col-5 {
  width: 12%;
} 
.col-6 {
  width: 10%;
}
.col-7 {
  width: 14%;
}
.col-expand-1 {
  padding-left: 10%;
}
.col-expand-2 {
  width: 14%;
}