.col-1 {
  width: 8%;
}
.col-2 {
  width: 5%;
}
.col-3 {
  width: 13%;
}
.col-4 {
  width: 5%;
}
.col-5 {
  width: 10%;
}
.col-6 {
  width: 7%;
}
.col-7 {
  width: 7%;
}
.col-8 {
  width: 8%;
}
.col-9 {
  width: 8%;
}
.col-10 {
  width: 8%;
}
.col-11 {
  width: 7%;
}
.col-12 {
  width: 5%;
}
.col-13 {
  width: 9%;
}
.table {
  min-width: 1200px;
}
