.col-1 {
  width: 6%;
}
.col-2 {
  width: 27%;
}
.col-3 {
  width: 8%;
}
.col-4 {
  width: 10%;
}
.col-5 {
  width: 9%;
}
.col-6 {
  width: 9%;
}
.col-7 {
  width: 10%;
}
.col-8 {
  width: 7%;
}
.col-9 {
  width: 14%;
}

.member {
  .col-1 {
    width: 5%;
  }
  .col-2 {
    width: 15%;
  }
  .col-3 {
    width: 8%;
  }
  .col-4 {
    width: 10%;
  }
  .col-5 {
    width: 8%;
  }
  .col-6 {
    width: 12%;
  }
  .col-7 {
    width: 6%;
  }
  .col-8 {
    width: 9%;
  }
  .col-9 {
    width: 9%;
  }
  .col-10 {
    width: 8%;
  }
  .col-11 {
    width: 10%;
  }
}